.home {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 0rem auto;
  font-weight: 700;
  font-family: "Fira Mono", monospace;
  // margin-top: 12rem;
  // overflow: hidden;
  display: grid;
  place-items: center;
  &__main {
    // width: 100%;
    height: 100%;
    min-height: 60rem;
    // margin:  7rem 0;
    // background-color: red;
    display: grid;
    // justify-content: center;
    place-items: center;
  }
  &__intro {
    margin: 10rem 0;
    align-self: center;
    // height: 70%;
    // width: 80%;
    display: grid;
    grid-template-columns: auto;
    // grid-template-rows: 4rem 7rem 11rem minmax(2.3rem, auto);
    align-items: center;
    grid-gap: 2rem;

    // margin: auto 0;
    &__greeting {
      font-size: 3rem;
      // font-weight: 700;
      color: #8064da;
      // letter-spacing: 0.2rem;
    }
    &__name {
      font-size: 7rem;
      // font-weight: 600;
      // line-height: 10rem;
      // font-family: "Cabin", sans-serif;
      font-family: "Product Sans Regular", "Open Sans", sans-serif;
      font-stretch: semi-expanded;
      //   font-family: "Yusei Magic", sans-serif;
      // letter-spacing: 0.5rem;
    }
    &__designation {
      font-size: 5rem;
      font-weight: 700;
      // font-family: "Yusei Magic", sans-serif;
      font-family: "Product Sans Regular", "Open Sans", sans-serif;
      line-height: 6rem;
      flex: .5;

      & span {
        color: #8064da;
      }
    }
    &__specialization {
      font-size: 2.3rem;
      font-weight: 700;
      font-stretch: semi-expanded;
      color: #838383;
      // line-height: 3.5rem;
      margin-top: 3rem;
      transform: scaleY(1.2);
      z-index: -2;
      // letter-spacing: 0.2rem;
    }
  }
  & .social {
    position: fixed;
    // min-width: 15rem;
    // min-height: 50rem;
    bottom: 5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;

    &-icons-container {
      display: flex;

      margin-top: 1.8rem;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      #social-text {
        font-size: 1.6rem;
        font-weight: 700;
        opacity: 0;
        transform: translateX(20px);
        order: 1;
        transition: all 0.5s ease;
      }
      #social-icons {
        order: 2;
        margin-left: 2rem;
      }
      // #social-icons:hover{
      //   color: blue;
      //   // background-color: white;
      // }
      .fa-github:hover {
        color: white;
        background-color: black;
      }
      .fa-facebook-f:hover {
        background-color: #1877f2;
        color: white;
      }
      .fa-linkedin-in:hover {
        color: white;
        background-color: #0073b1;
      }

      #social-icons:hover ~ #social-text {
        // display: block;
        opacity: 1;
        transform: translateX(0px);
      }
      .github {
        color: white;
      }
      .linkedin {
        color: #0073b1;
      }
      .facebook {
        color: #1877f2;
      }
    }
    & i {
      font-size: 2.5rem;
      min-width: 3rem;
      height: 3rem;
      padding: 3px;
      text-align: center;
      border-radius: 0.8rem;
      background-color: white;
      color: black;
      outline: none;
      border: none;
      backface-visibility: hidden;

      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .home {
    margin: 0;
    &__intro {
      // margin: 6rem 0;
      // align-self: center;
      
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .home {
    margin: 0;
    &__intro {
      width: 100%;
    
    }
  }
}

@media only screen and (max-width: 800px) {
 
  .home {
    margin: 0;
    // display: flex;
    // justify-content: center;
    &__intro {
      
      &__greeting {
        font-size: 3rem;
        
      }
      &__name {
        font-size: 8rem;
      
      }
      &__designation {
        font-size: 5rem;
     
      }
      &__specialization {
        font-size: 2rem;
      
      }
    }
  }
}